<!DOCTYPE html>
<html>
<head>
	
	<title><%= htmlWebpackPlugin.options.title%></title>
	<script type="text/javascript">
		<%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
	</script>
</head>
<body>
	<!-- 这是注释 -->
	<%= htmlWebpackPlugin.options.date %>
	<% for(var key in htmlWebpackPlugin.files){ %>
		<%= key %>:<%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
	<%} %>
	<% for(var key in htmlWebpackPlugin.options){ %>
	<%= key %>:<%=JSON.stringify(htmlWebpackPlugin.options[key])  %>
	<% } %>
	
	<% for(var k in htmlWebpackPlugin.files.chunks){ %>
		<% if(k!=='main'){ %>
			<script type="text/javascript" src="<%=  htmlWebpackPlugin.files.chunks[k].entry %>"></script>
		<%}%>
	<% }%>
</body>
</html>